In [1]:
import sqlite3

In [2]:
db = sqlite3.connect("my_data.db")

In [3]:
cursor =db.cursor()

In [4]:
cursor.execute("CREATE TABLE S_marks5(roll_no INT PRIMARY KEY,s_name TEXT,f_name TEXT, total_marks INT,percentage INT,rank INT)")

cursor.execute("INSERT INTO S_marks4(roll_no,s_name,f_name,total_marks,percentage,rank) values(1,'sachin','satish',490,98,1),(2,'rohit','ajay',400,80,10),(3,'sahil','ajad',380,76,14),(4,'vishal','sachin',420,84,8),(5,'monit','krishan',460,92,5)")

In [5]:
cursor.execute("INSERT INTO S_marks5(roll_no,s_name,f_name,total_marks,percentage,rank) values(1,'sachin','satish',490,98,1),(2,'rohit','ajay',400,80,10),(3,'sahil','ajad',380,76,14),(4,'vishal','sachin',420,84,8),(5,'monit','krishan',460,92,5)")

In [9]:
# save the data
db.commit()

In [14]:
cursor.rowcount,"record(s) inserted"

(5, 'record(s) inserted')

In [30]:
cursor.execute("SELECT * FROM S_marks5")

In [28]:
# show all data inserted
cursor.fetchall()

[(1, 'sachin', 'satish', 490, 98, 1),
 (2, 'rohit', 'ajay', 400, 80, 10),
 (3, 'sahil', 'ajad', 380, 76, 14),
 (4, 'vishal', 'sachin', 420, 84, 8),
 (5, 'monit', 'krishan', 460, 92, 5)]

In [31]:
record=cursor.fetchall()
for x in record:
    print(x)

(1, 'sachin', 'satish', 490, 98, 1)
(2, 'rohit', 'ajay', 400, 80, 10)
(3, 'sahil', 'ajad', 380, 76, 14)
(4, 'vishal', 'sachin', 420, 84, 8)
(5, 'monit', 'krishan', 460, 92, 5)

In [32]:
record

[(1, 'sachin', 'satish', 490, 98, 1),
 (2, 'rohit', 'ajay', 400, 80, 10),
 (3, 'sahil', 'ajad', 380, 76, 14),
 (4, 'vishal', 'sachin', 420, 84, 8),
 (5, 'monit', 'krishan', 460, 92, 5)]

In [36]:
#fetch all rool no
data=cursor.execute("SELECT roll_no FROM S_marks5")
for x in data:
    print(x)

(1,)
(2,)
(3,)
(4,)
(5,)

In [37]:
data=cursor.execute("SELECT roll_no FROM S_marks5")
data.fetchall()

[(1,), (2,), (3,), (4,), (5,)]

In [42]:
name=cursor.execute("SELECT s_name FROM S_marks5")
for x in name:
    print(x)

('sachin',)
('rohit',)
('sahil',)
('vishal',)
('monit',)

# where

In [6]:
cursor.execute("SELECT * FROM S_marks5 where s_name='sachin'")
cursor.fetchone()

(1, 'sachin', 'satish', 490, 98, 1)

In [8]:
cursor.execute("SELECT * from S_marks5 where s_name='monit'")
cursor.fetchall()

[(5, 'monit', 'krishan', 460, 92, 5)]

In [9]:
cursor.execute("SELECT * FROM s_marks5 where percentage>90")
cursor.fetchall()

[(1, 'sachin', 'satish', 490, 98, 1), (5, 'monit', 'krishan', 460, 92, 5)]

In [10]:
cursor.execute("SELECT * FROM S_marks5 where rank <5")
cursor.fetchall()

[(1, 'sachin', 'satish', 490, 98, 1)]

In [11]:
cursor.execute("SELECT percentage FROM S_marks5 where s_name='monit'")
cursor.fetchall()

[(92,)]

In [12]:
x=cursor.execute("SELECT percentage FROM S_marks5 where s_name='monit'")
x.fetchall()

[(92,)]

In [18]:
cursor.execute("SELECT* FROM S_marks5 where s_name like '%a%'")
cursor.fetchall()

[(1, 'sachin', 'satish', 490, 98, 1),
 (3, 'sahil', 'ajad', 380, 76, 14),
 (4, 'vishal', 'sachin', 420, 84, 8)]

In [19]:
cursor.execute("SELECT* FROM S_marks5 where s_name like '_a%'")
cursor.fetchall()

[(1, 'sachin', 'satish', 490, 98, 1), (3, 'sahil', 'ajad', 380, 76, 14)]

# order by

In [20]:
cursor.execute("SELECT * FROM S_marks5 order by s_name")
cursor.fetchall()

[(5, 'monit', 'krishan', 460, 92, 5),
 (2, 'rohit', 'ajay', 400, 80, 10),
 (1, 'sachin', 'satish', 490, 98, 1),
 (3, 'sahil', 'ajad', 380, 76, 14),
 (4, 'vishal', 'sachin', 420, 84, 8)]

In [21]:
cursor.execute("SELECT * FROM S_marks5 order by rank")
cursor.fetchall()

[(1, 'sachin', 'satish', 490, 98, 1),
 (5, 'monit', 'krishan', 460, 92, 5),
 (4, 'vishal', 'sachin', 420, 84, 8),
 (2, 'rohit', 'ajay', 400, 80, 10),
 (3, 'sahil', 'ajad', 380, 76, 14)]

# delete data

In [24]:
cursor.execute("DELETE FROM S_marks5 where s_name='vishal'")
cursor.fetchall()

[]

In [26]:
cursor.execute("SELECT * FROM S_marks5")
cursor.fetchall()

[(1, 'sachin', 'satish', 490, 98, 1),
 (2, 'rohit', 'ajay', 400, 80, 10),
 (3, 'sahil', 'ajad', 380, 76, 14),
 (5, 'monit', 'krishan', 460, 92, 5)]

# update table

In [28]:
cursor.execute("UPDATE  S_marks5 SET f_name='ajay' where f_name ='ajad'")
db.commit()
cursor.fetchall()

[]

In [29]:
cursor.execute("SELECT * FROM S_marks5")
cursor.fetchall()

[(1, 'sachin', 'satish', 490, 98, 1),
 (2, 'rohit', 'ajay', 400, 80, 10),
 (3, 'sahil', 'ajay', 380, 76, 14),
 (5, 'monit', 'krishan', 460, 92, 5)]

# Limit the Result
You can limit the number of records returned from the query, by using the "LIMIT" statement:

In [33]:
cursor.execute("SELECT * FROM S_marks5 LIMIT 2")
cursor.fetchall()

[(1, 'sachin', 'satish', 490, 98, 1), (2, 'rohit', 'ajay', 400, 80, 10)]

In [35]:
#Start From Another Position
#If you want to return five records, starting from the third record, you can use the "OFFSET" keyword:

In [36]:
cursor.execute("SELECT * FROM S_marks5 LIMIT 4 OFFSET 1")
cursor.fetchall()

[(2, 'rohit', 'ajay', 400, 80, 10),
 (3, 'sahil', 'ajay', 380, 76, 14),
 (5, 'monit', 'krishan', 460, 92, 5)]

In [40]:
# select min or max
cursor.execute("SELECT max(percentage) from S_marks5  ")
cursor.fetchall()

[(98,)]

In [41]:
cursor.execute("SELECT max(rank) from S_marks5  ")
cursor.fetchall()

[(14,)]

In [42]:
cursor.execute("SELECT max(s_name) from S_marks5  ")
cursor.fetchall()

[('sahil',)]

In [44]:
# sum ,avg
cursor.execute("SELECT AVG(percentage) from S_marks5")
cursor.fetchall()

[(86.5,)]

In [45]:
cursor.execute("SELECT SUM(percentage) from S_marks5")
cursor.fetchall()

[(346,)]

In [48]:
cursor.execute("SELECT AVG(total_marks) from S_marks5")
cursor.fetchall()

[(432.5,)]