In [2]:
 import sqlite3

In [4]:
db = sqlite3.connect("my_database.db")

In [6]:
cursor=db.cursor()

In [7]:
cursor.execute("CREATE TABLE S_list1(roll_no INT PRIMARY KEY,s_name TEXT ,f_name)")

In [8]:
cursor.execute("INSERT INTO S_list1(roll_no,s_name,f_name) values (1,'sachin','satish'),(2,'ajay','vishal'),(3,'rohit','balwan'),(4,'jatin','sonu'),(5,'mohit','sahil')")

In [9]:
db.commit()

In [10]:
print(cursor.rowcount,"record(s) inserted")

5 record(s) inserted

In [13]:
cursor.execute("SELECT*FROM S_list1")

In [15]:
result=cursor.execute("SELECT*FROM S_list1")
for x in result:
    print(x)

(1, 'sachin', 'satish')
(2, 'ajay', 'vishal')
(3, 'rohit', 'balwan')
(4, 'jatin', 'sonu')
(5, 'mohit', 'sahil')

In [17]:
#delete record

sql =cursor.execute("DELETE FROM S_list1 where roll_no =3")
db.commit()
record= cursor.execute("SELECT*FROM S_list1")
for x in result:
    print(x)

(1, 'sachin', 'satish')
(2, 'ajay', 'vishal')
(4, 'jatin', 'sonu')
(5, 'mohit', 'sahil')

In [18]:
sql =cursor.execute("DELETE FROM S_list1 where roll_no in (2,5)")
db.commit

In [19]:
result=cursor.execute("SELECT * FROM S_list1")
result.fetchall()

[(1, 'sachin', 'satish'), (4, 'jatin', 'sonu')]

# UPDATE A RECORD

In [24]:
sql = cursor.execute("UPDATE S_list1 SET f_name= 'sunny' where f_name='sonu' ")
db.commit()
print(cursor.rowcount,"record(s) affected")

1 record(s) affected

In [25]:
cursor.execute("SELECT*FROM S_list1")
cursor.fetchall()

[(1, 'sachin', 'satish'), (4, 'jatin', 'sunny')]

# LIMIT

In [29]:
cursor.execute("SELECT * FROM S_list1 LIMIT 1")
record=cursor.execute("SELECT* FROM S_list1")
record.fetchone()

(1, 'sachin', 'satish')

In [32]:
cursor.execute("SELECT * FROM S_list1 LIMIT 2")
record=cursor.execute("SELECT* FROM S_list1")
record.fetchall()

[(1, 'sachin', 'satish'), (4, 'jatin', 'sunny')]

SyntaxError: invalid syntax (1317329610.py, line 1)